DATABASE_URL="postgresql://ideanick:ideanick@localhost:5432/ideanick?schema=public"
PORT=3000
HOST_ENV=local
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=any-salt
INITIAL_ADMIN_PASSWORD=123
WEBAPP_URL=http://localhost:8000

EMAIL_SERVICE_API_KEY=!!!SECRET!!!
FROM_EMAIL_NAME=ideaNick
FROM_EMAIL_ADDRESS=info@selfdo.ru

DEBUG=ideanick:*,-ideanick:prisma:*,-ideanick:trpc:query:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SOURCE_VERSION=123